{% extends "base.html" %}
<article>
    {% block content %}
    <div class="container">
        <h1 class="text-center">Meet Our Team</h1>

        <div class="card border-success mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='profile-logo.jpg')}}" class="img-fluid rounded start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-success">
                        <h2 class="card-title">Jeffrey Galicia</h2>
                        <p class="card-text">Vivamus a neque ligula. Ut sodales elit sed pretium sagittis. Nam in luctus erat.
                            Nulla ex nibh.</p>
                        <h4 class="card-text"><small class="text-muted">Site Collaborator</small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ mymessage }}
    {% endblock %}
</article>