{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
        <div class="col-6">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>

        <!-- Progress Bar For All Requirements -->
        <div class="col-6" id="p-bar">
            <h3>Password must meet the following criteria:</h3>
            <!-- Lower Bar -->
            <div class="progress" style="height: 30px;">
                <div id="lower" class="progress-bar progress-bar-striped bg-danger" role="progressbar">
                    At least 1 Lowercase Letter
                </div>
                <div id="green1" class="progress-bar progress-bar-striped bg-success" role="progressbar">
                    Lowercase has been entered!
                </div>
            </div>
            <br>
            <!-- Upper Bar -->
            <div class="progress" style="height: 30px;">
                <div id="upper" class="progress-bar progress-bar-striped bg-danger" role="progressbar">
                    At least 1 Uppercase Letter
                </div>
                <div id="green2" class="progress-bar progress-bar-striped bg-success" role="progressbar">
                    Uppercase has been entered!
                </div>
            </div>
            <br>
            <!-- Number Bar -->
            <div class="progress" style="height: 30px;">
                <div id="number" class="progress-bar progress-bar-striped bg-danger" role="progressbar">
                     Must Contain A Number
                </div>
                <div id="green3" class="progress-bar progress-bar-striped bg-success" role="progressbar">
                    Number requirement passed!
                </div>
            </div>
            <br>
            <!-- Length Bar -->
            <div class="progress" style="height: 30px;">
                <div id="length" class="progress-bar progress-bar-striped bg-danger" role="progressbar">
                    Must Contain A Minimum of <b>6 Characters</b>
                </div>
                <div id="green4" class="progress-bar progress-bar-striped bg-success" role="progressbar">
                Your Password has at least 6 figures!
                </div>
            </div>
        </div>
    </div>

    <style>
        #p-bar {
            display: none;
        }
    </style>

    <script>
        // Password Form Input
        var passwordInput = document.getElementById("password");

        // Error Bars
        var lower_bar = document.getElementById("lower");
        var upper_bar = document.getElementById("upper");
        var num_bar = document.getElementById("number");
        var length_bar = document.getElementById("length");

        // Success Bars
        var success1 = document.getElementById("green1");
        var success2 = document.getElementById("green2");
        var success3 = document.getElementById("green3");
        var success4 = document.getElementById("green4");

        var passwordArr = [];

        /*
        var lowerCase = 0;
        */

        // Display requirements when the user clicks on password field
        passwordInput.onfocus = function() {
            var p_bar = document.getElementById("p-bar");
            p_bar.style.display = "block";

            //Deactivate Green Bar
            success1.style.width = "0%";
            success2.style.width = "0%";
            success3.style.width = "0%";
            success4.style.width = "0%";

            //Activate Red Bar
            lower_bar.style.width  = "100%";
            upper_bar.style.width  = "100%";
            num_bar.style.width    = "100%";
            length_bar.style.width = "100%";
        }
        // Hide requirements message
        passwordInput.onblur = function() {
          document.getElementById("p-bar").style.display = "none";
        }

        //User types keyboard
        passwordInput.onkeyup = function () {

            // Password Array
            passwordArr.push = passwordInput.value;

            // Lowercase Bar Validation
            var lowerLetters = /[a-z]/g;
            if (passwordInput.value.match(lowerLetters)) {

                //upper.classList.remove("invalid");
                //upper.classList.add("valid");
                success1.style.width = "100%";
                lower_bar.style.width = "0%";
            } else {
                //lower.classList.remove("valid");
                //lower.classList.add("invalid");
                success1.style.width = "0%";
                lower_bar.style.width = "100%";
              }

            // Uppercase Bar Validation
            var upperLetters = /[A-Z]/g;
            if (passwordInput.value.match(upperLetters)) {

                success2.style.width = "100%";
                upper_bar.style.width = "0%";
            } else {
                success2.style.width = "0%";
                upper_bar.style.width = "100%";
              }

            // Number Character Validation
            var numberValue = /[0-9]/g;
            if (passwordInput.value.match(numberValue)) {

                success3.style.width = "100%";
                num_bar.style.width = "0%";

            } else {
                success3.style.width = "0%";
                num_bar.style.width = "100%";
              }

            // Checking for length >= 6
            if (passwordInput.value.length >= 6) {

                success4.style.width = "100%";
                length_bar.style.width = "0%";
            } else {
                success4.style.width = "0%";
                length_bar.style.width = "100%";
            }

            console.log(passwordArr.length);
            console.log(passwordArr);
        }
        /*
        passwordField.onkeyup = function () {
            var progress_bar = document.getElementById("p-bar");

            let lowerCaseLetters = /[a-z]/g;
            let new_width_value;

            <!-- Lowercase bar  -->
            if(lowerCase === 0) {
                let p_bar_width_string = progress_bar.style.width;
                let width_current_value = parseInt(p_bar_width_string.substring(0, p_bar_width_string.length - 1));
                width_current_value = width_current_value + 33;
                let width_string_new_value = width_current_value.toString();
                new_width_value = width_string_new_value.concat("%");
            } else {
                new_width_value = progress_bar.style.width;
            }
            if (passwordField.value.match(lowerCaseLetters)) {
                progress_bar.style.width = new_width_value;
                lowerCase = 1;
            } else {
                progress_bar.style.width = "0%";
                lowerCase = 0;
            }
        }
         */
    </script>

{% endblock %}