{% extends "base.html" %}
<article>
    {% block content %}
    <div class="container">
        <h2>About Page</h2>
        <h4>Class: IS219</h4>
        <h4>Assignment: Project 4 of Flask App</h4>
        <h4>Site Collaborator: Jeffrey Galicia</h4>
        <p>
            Vivamus a neque ligula. Ut sodales elit sed pretium sagittis. Nam in luctus erat.
            Nulla ex nibh, lobortis id ipsum eget, egestas porta elit. Etiam a auctor felis. Curabitur dignissim placerat risus.
            Nullam porta ipsum quis turpis condimentum, at elementum ligula commodo. Nunc aliquam sollicitudin felis at porta.
            Nunc quis ultricies ligula.
        </p>
    </div>
    {{ mymessage }}
    {% endblock %}
</article>